@import "./navbar";
@import "./mixings";

$widthSVG:50px;
$heightSVG:50px;
$colorIG:#824588;
$colorYT:#ED4F1C;
$colorFC:rgb(11, 88, 202);
$colorTw:rgb(29, 155, 240);
$colorLink:indigo;

$coloresFooter:(
'instagram': $colorIG,
'youtube': $colorYT,
'facebook': $colorFC,
'twitter' : $colorTw,
'mail' : $colorLink
);


footer{
 background-color: $bgcolor;
        div p a {
        color:map-get($map: $coloresFooter, $key:'mail');
        }
 
        div ul li a svg.bi.bi-instagram{
            @include alturaYAncho($widthSVG,$heightSVG);
            color:map-get($map: $coloresFooter, $key:'instagram');
            }
        div ul li a svg.bi.bi-youtube{
            @include alturaYAncho($widthSVG,$heightSVG);
            color:map-get($map: $coloresFooter, $key:'youtube');
        }
        div ul li a svg.bi.bi-facebook{
            @include alturaYAncho($widthSVG,$heightSVG);
            color:map-get($map: $coloresFooter, $key:'facebook');
        }
        div ul li a svg.bi.bi-twitter{
            @include alturaYAncho($widthSVG,$heightSVG);
            color:map-get($map: $coloresFooter, $key:'twitter');
        }



}