@import "./mixins";
@import "./menuPrincipal";


div div h1{
@include animacionSlideInLeft;
}

.parrafoProductos{
    @extend .parrafo;
    width:90%;
    text-align: center;
    }

.kenburns-bottom-right {
        -webkit-animation: kenburns-bottom-right 3s ease-out  both;
                animation: kenburns-bottom-right 3s ease-out  both;
        }

 @-webkit-keyframes kenburns-bottom-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 84%;
                transform-origin: 84% 84%;
      }
      100% {
        -webkit-transform: scale(1.25) translate(20px, 15px);
                transform: scale(1.25) translate(20px, 15px);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
      }
    }
    @keyframes kenburns-bottom-right {
      0% {
        -webkit-transform: scale(1) translate(0, 0);
                transform: scale(1) translate(0, 0);
        -webkit-transform-origin: 84% 84%;
                transform-origin: 84% 84%;
      }
      100% {
        -webkit-transform: scale(1.25) translate(20px, 15px);
                transform: scale(1.25) translate(20px, 15px);
        -webkit-transform-origin: right bottom;
                transform-origin: right bottom;
      }
    }

.titulo {
        text-align: center;
        background-color: ORANGE;  
      }

.kenburns-top-right {
	-webkit-animation: kenburns-top-right 3s ease-out  both;
	        animation: kenburns-top-right 3s ease-out  both;
}

@-webkit-keyframes kenburns-top-right {
        0% {
          -webkit-transform: scale(1) translate(0, 0);
                  transform: scale(1) translate(0, 0);
          -webkit-transform-origin: 84% 16%;
                  transform-origin: 84% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translate(20px, -15px);
                  transform: scale(1.25) translate(20px, -15px);
          -webkit-transform-origin: right top;
                  transform-origin: right top;
        }
      }
      @keyframes kenburns-top-right {
        0% {
          -webkit-transform: scale(1) translate(0, 0);
                  transform: scale(1) translate(0, 0);
          -webkit-transform-origin: 84% 16%;
                  transform-origin: 84% 16%;
        }
        100% {
          -webkit-transform: scale(1.25) translate(20px, -15px);
                  transform: scale(1.25) translate(20px, -15px);
          -webkit-transform-origin: right top;
                  transform-origin: right top;
        }
      }
      