@import "./mixings";


div div div {

            h1{ 
               @include animacionSlideInLeft;
            }
            h2{
               @include animacionFocusInExpand;
            }

            p{
               @include animacionSlidein;
            }

            div div div img {
               @include alturaYAncho(80vh, 100% !important);
            }

}

.parrafo{    
   font-family: "PT Sans Narrow", sans-serif;
   text-align: justify;
   width: 70%;
   margin: 0 auto;
   padding: 10px 20px;
}







